rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isFamily() {
      return request.auth != null
        && request.auth.token.email in [
          'abbasrehmat88@gmail.com',
          'rehmat.ae@gmail.com'
        ];
    }
    match /tenants/{document=**}    { allow read, write: if isFamily(); }
    match /reminders/{document=**}  { allow read, write: if isFamily(); }
    match /properties/{document=**} { allow read, write: if isFamily(); }
  }
}
